@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,500&display=swap");
body {
  background-color: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: aquamarine;
}
nav ul li {
  padding: 0 12px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.2rem;
  /* padding: 0 8px; */
}
.brand img {
  width: 65px;
  padding: 0 8px;
}
.container {
  min-height: 75vh;
}
.bottom {
  display: flex;
  position: sticky;
  height: 130px;
  background-color: rgb(223, 176, 176);
  bottom: 0;
  color: rgb(209, 35, 35);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#myProgressBar {
  width: 80vw;
}

.icon {
  display: flex;
  margin: 12px 0;
}

.svg {
  width: 50px;
  height: 50px;
}
.songNav {
  border: 0px;
  background: none;
  margin: 0px 12px;
  cursor: pointer;
}

.container {
  color: white;
  min-height: 51vh;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 80px;
  background-image: url("bg.jpg");
}
.songItem {
  color: black;
  height: 50px;
  display: flex;
  background-color: rgb(194, 228, 226);
  width: 80%;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
}
.songItem .playbtn {
  width: 24px;
  margin-top: 5px;
}

.songThumbnail {
  width: 44px;
  margin: 0 4px;
  border-radius: 18px;
}
.songlistplay {
  display: flex;
  align-items: center;
  position: relative;
}
.songinfo {
  position: absolute;
  font-weight: bolder;
  color: black;
  display: flex;
  align-items: center;
  left: 10vw;
}

.songinfo img {
  opacity: 0;
  transition: opacity 1 ease-in;
  height: 22px;
  width: 51px;
  margin: 0 8px;
}
